<ion-header>
  <ion-navbar #navbar class="header" color="header">    
  </ion-navbar>
</ion-header>

<ion-content padding class='backgroundColor'>  
  <div *ngIf="enteredEmail == false">
    <div class="spacer" style="width: 300px; height: 40px;"></div>        
    <h4 [ngStyle]="{'color': 'white'}" class="center">Enter your email address</h4> 

    <div id="login-markdown13" class="show-list-numbers-and-dots" *ngIf="error">
      <p style="color:#F81212;" [innerHtml]="error"></p>
    </div>
    
    <ion-list id="login-list1" class="borderRadius">      
      <ion-item class="borderRadius item item-input">
        <ion-label fixed>Email</ion-label>
        <ion-input type="email" value="" [(ngModel)]="email"></ion-input>
      </ion-item>      
    </ion-list>
    
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <button ion-button full id="loginPage-loginButton" class="borderRadius" (click)="forgotPassword()">Continue</button>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
  </div>

  <div *ngIf="enteredEmail == true">
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <h5 [ngStyle]="{'color': 'white'}" class="center">We sent you an email with a token <br />Please enter the token below to continue</h5>     
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    
    <div id="login-markdown13" class="show-list-numbers-and-dots" *ngIf="error">
      <p style="color:#F81212;" [innerHtml]="error"></p>
    </div>

    <ion-list id="login-list1" class="borderRadius">      
      <ion-item class="borderRadius listItem item-input">
        <ion-label fixed>Token</ion-label>
        <ion-input type="password" value="" [(ngModel)]="token"></ion-input>
      </ion-item>  

      <ion-item class="borderRadius listItem">
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" value="" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item class="borderRadius listItem">
        <ion-label fixed>Confirm Password</ion-label>
        <ion-input type="password" value="" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>    
    </ion-list>
    
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <button ion-button full class="borderRadius" (click)="resetPassword()">Continue</button>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
  </div>
</ion-content>
