page-createPerson {
  ion-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px;
    font-size: 24px;
    margin: 10px;    
  }  

  ion-input {
    font-size: 24px;
    padding: 2px;
    margin: 2px;
  }

  ion-label {
    margin: 1px;
  }

  ion-textarea {
    min-height: 100px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px;
    font-size: 18px;
  }

  #map_canvas {    
    box-shadow: 3px 3px;
  }
}