page-event {
  ion-textarea {
    background-color: white;
    box-shadow: 3px 3px;
    border-radius: 5px;
    font-size: 20px;
    min-height: 200px;    
  }

  ion-item {
    background-color: white;
    box-shadow: 3px 3px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}